#vikki_input_box input {
  background: #1E1E30;
  box-shadow: 0 14px 28px rgba(138, 138, 138, 0.25), 0 10px 10px rgba(150, 150, 150, 0.22);
  border: 1px solid #161625
}

#output_date_1,
#output_epoch_1 {
  background: #1E1E30;
  box-shadow: 0 14px 28px rgba(138, 138, 138, 0.25), 0 10px 10px rgba(150, 150, 150, 0.22);
  border: 1px solid #161625
}


/* START customization for dark theme */
.bootstrap-datetimepicker-widget {
  background-color: #1E1E30;
  z-index: 499;
}

.bootstrap-select.btn-group .dropdown-menu li a:hover {
  color: rgb(196, 19, 19) !important;
  background: #bf5279 !important;

}

.bootstrap-select .dropdown-menu {
  background-color: #1E1E30;
  z-index: 499;

}

.bootstrap-select .dropdown-item:hover {
  background-color: #161625;
  z-index: 499;

}

.bootstrap-select .dropdown-item.active.selected {
  background-color: #161625;
  color: #6c757d;
  z-index: 499;

}

.form-control input {
  background-color: #161625 !important;
}

.dropdown-item {
  color: #6c757d;
}

:not(.input-group)>.bootstrap-select.form-control:not([class*=col-]) {
  background-color: #1E1E30 !important;
}

/* END customization for dark theme */