{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width,initial-scale=1,shrink-to-fit=no" name="viewport"/>
<meta content="ie=edge" http-equiv="X-UA-Compatible"/>
<meta content="" name="description"/>
<meta content="Vignesh Ragupathy" name="author"/>
<meta content="vikki, vignesh ragupathy, vikki's tools" name="keywords"/>
<meta content="Opensource tools developed by Vignesh Ragupathy" name="description"/>
<title>Vikki's tools</title><!-- Bootstrap core CSS -->
<link href="https://cdn.jsdelivr.net/gh/vignesh88/cdn/django/tools/common/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://cdn.jsdelivr.net/gh/vignesh88/cdn/django/tools/general/img/favicon.ico" rel="shortcut icon" type="image/png"/>
<link href="https://cdn.jsdelivr.net/gh/vignesh88/cdn/django/tools/common/css/common.css" rel="stylesheet"/><!-- Custom styles for this template -->
<link href="https://cdn.jsdelivr.net/gh/vignesh88/cdn/django/tools/common/css/simple-sidebar.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/gh/vignesh88/cdn/django/tools/common/js/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/vignesh88/cdn/django/tools/common/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/vignesh88/cdn/django/tools/common/js/darkmode-js.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/vignesh88/cdn/django/tools/common/js/common.js"></script>
<script src="https://cdn.jsdelivr.net/gh/vignesh88/cdn/django/tools/common/js/superplaceholder.js"></script>
<script src="https://cdn.jsdelivr.net/gh/vignesh88/cdn/django/tools/common/js/iconify.min.js"></script>
<!--
  <link href="https://cdn.jsdelivr.net/gh/vignesh88/cdn/django/tools/general/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/gh/vignesh88/cdn/django/tools/general/css/general.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/gh/vignesh88/cdn/django/tools/general/css/simple-sidebar.css" rel="stylesheet">
  -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-75997179-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-75997179-2');
</script>
</head>
<body>{% include 'home.html' %}</body>
</html>