{% load static %}

<link href="https://cdn.jsdelivr.net/gh/vignesh88/cdn/django/tools/base64/css/base64.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/gh/vignesh88/cdn/django/tools/common/js/js.cookie.min.js"></script>
<!--
  <link href="https://cdn.jsdelivr.net/gh/vignesh88/cdn/django/tools/base64/css/base64.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
-->
<div class="container-fluid" id="slow_loading">
<div class="container_1">
<!-- <h1 class="mt-4">base64 encoding and decoding</h1> -->
<h2 class="title" style="color:#6C757D">Base64 Encode and Decode</h2>
<!-- <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is optional, and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which will toggle the menu when clicked.</p> -->
<div class="container my-5"></div>
<form action="" method="post">
      {% csrf_token %}
      <div class="form-group">
<!--  <label for="inputdefault">Inputs</label> -->
<span class="tools-field-title">Input</span>
<div class="mb-3" id="vikki_input_box">
<input class="form-control" id="default_input_data" onkeypress="return base64_convert_enterkey(event)" placeholder="Enter the data..." type="text"/>
</div>
<p>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
<label class="btn btn-secondary active">
<input autocomplete="off" checked="" id="base64_encode" type="radio"/> ENCODE
          </label>
<label class="btn btn-secondary">
<input autocomplete="off" id="base64_decode" type="radio"/> DECODE
          </label>
</div>
</p>
<div class="form-group">
<!-- <label for="inputdefault">Results</label>  -->
<label for="inputdefault"></label>
<span class="tools-field-title">Results</span>
<div class="mb-3" id="vikki_input_box">
<input class="form-control" id="results" onclick="copyToClipboard('results','#show_copied')" placeholder="Converted results appears here..." readonly="" type="text"/> <span class="show-copied" id="show_copied"> copied successfuly!</span> </div>
</div>
<br/>
<!-- <button onclick="base64_convert()" type="button" class="btn btn-success btn-lg btn-block">Convert</button> -->
<button class="btn btn-lg btn-block btn-secondary" onclick="base64_convert()" type="button">Convert</button>
</div></form>
</div>
<footer>Made with <span class="iconify icon:ion-heart icon-inline:false" style="color: #E81224;"></span> by <a href="https://in.linkedin.com/in/vignesh88?trk=profile-badge-cta"> Vikki.</a></footer>
</div><!-- /container -->
<script src="https://cdn.jsdelivr.net/gh/vignesh88/cdn/django/tools/base64/js/base64.js"></script>
<!--
  <script src="https://cdn.jsdelivr.net/gh/vignesh88/cdn/django/tools/base64/js/base64.js"></script>
-->