{% load static %}<div id="navbar" class="nav"><input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title"><a href="/">Epoch converter</a></div>
  </div>
  <div class="nav-btn"><label for="nav-check"><span></span> <span></span> <span></span></label></div>
  <div class="nav-links"><a href="base64.html">Base64</a> <a href="password_generator.html">Password Generator</a> <a
      href="geoip.html">What is my IP</a> <a href="epoch.html">Epoch converter</a> <a href="https://www.vikki.in"
      target="_blank">Blog</a>
    <dark-mode-toggle id="dark-mode-toggle-9" ></dark-mode-toggle>
  </div>
</div>
<div id="page-content-wrapper">{% if var_page_to_load == "general" %} {% include 'general.html' %}
  {% elif var_page_to_load == "base64" %} {% include 'base64.html' %}
  {% elif var_page_to_load == "password_generator" %} {% include 'password_generator.html' %}
  {% elif var_page_to_load == "geoip" %} {% include 'geoip.html' %} {% elif var_page_to_load == "epoch" %}
  {% include 'epoch.html' %} {% else %} {% include 'general.html' %} {% endif %}</div>