{% load static %}
<link href="{% static 'common/css/mdb_light.css' %}" media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)" rel="stylesheet"/>
<link href="{% static 'common/css/mdb_dark.css' %}" media="(prefers-color-scheme: dark)" rel="stylesheet"/>
<nav class="navbar navbar-light navbar-2 vikki_custom_color"><a class="navbar-brand" href="/">Vikki's tools</a> <button aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent15" data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
<div class="collapse navbar-collapse" id="navbarSupportedContent15">
<ul class="navbar-nav mr-auto">
<li class="nav-item active"><a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a></li>
<li class="nav-item"><a class="nav-link" href="base64.html">Base64</a></li>
<li class="nav-item"><a class="nav-link" href="password_generator.html">Password generator</a></li>
<li class="nav-item"><a class="nav-link" href="geoip.html">What is my IP</a></li>
<li class="nav-item"><a class="nav-link" href="epoch.html">Epoch converter</a></li>
<!-- <li class="nav-item"><a class="nav-link" href="shorty">URL Shortner</a></li> -->
<li class="nav-item"><a class="nav-link" href="tiny">Tiny URL</a></li>
<li class="nav-item">
<dark-mode-toggle id="dark-mode-toggle-9" permanent="true"></dark-mode-toggle>
</li>
</ul>
</div>
</nav>{% if var_page_to_load == "general" %} {% include 'general.html' %} {% elif var_page_to_load == "base64" %}
{% include 'base64.html' %} {% elif var_page_to_load == "password_generator" %} {% include 'password_generator.html' %}
{% elif var_page_to_load == "geoip" %} {% include 'geoip.html' %} {% elif var_page_to_load == "epoch" %}
{% include 'epoch.html' %} {% elif var_page_to_load == "tiny_url" %}
{% include 'tiny.html' %} {% elif var_page_to_load == "tiny_url_stats" %}
{% include 'tiny_stats.html' %} {% else %} {% include 'general.html' %} {% endif %}