{% load static %}
<link href="{% static 'password_generator/css/password_generator_light.css' %}" media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)" rel="stylesheet"/>
<link href="{% static 'password_generator/css/password_generator_dark.css' %}" media="(prefers-color-scheme: dark)" rel="stylesheet"/>
<div class="container-fluid" id="slow_loading">
<div class="container_1">
<h2 class="title" style="color:#6c757d">Password Generator</h2>
<div class="password-box password-box-shadow" id="password_box"><span class="password" id="password" onclick="copyToClipboard('password','#show_copied')">{{ password }}</span> <span class="regenerate-password" onclick="password_generate()"></span> <span class="copy-password" onclick="copyToClipboard('password','#show_copied')"></span> <span class="show-copied" id="show_copied">Password copied successfuly!</span></div>
<div class="mb-3" id="lazy_words"><input aria-label="Search" class="form-control" id="lazy_words_text" type="text"/><br/>
<p id="lazy_words_suggestion_p" style="display:none;color:#6c757d"><b>Related words: </b><span id="lazy_words_suggestion"></span></p>
</div>
<div class="slidecontainer" style="color:#6c757d"><input class="slider-length slider-length-shadow" id="myRange" max="32" min="1" type="range" value="12"/>
<p>Length of Password: <span id="myRange-display"></span></p>
</div>
<div id="bootstrap_togglee" style="text-align:center"><label class="switch"><input checked="" id="U_case" type="checkbox"/>
<div class="slider"></div>
<div class="u_case"></div>
</label> <label class="switch"><input checked="" id="L_case" type="checkbox"/>
<div class="slider"></div>
<div class="l_case"></div>
</label> <label class="switch"><input id="S_chars" type="checkbox"/>
<div class="slider"></div>
<div class="s_chars"></div>
</label> <label class="switch"><input checked="" id="Num_value" type="checkbox"/>
<div class="slider"></div>
<div class="num_value"></div>
</label></div>
<footer>Made with <span class="iconify icon:ion-heart icon-inline:false" style="color:#e81224"></span> by <a href="https://in.linkedin.com/in/vignesh88?trk=profile-badge-cta">Vikki.</a></footer>
</div>
</div>
<script src="{% static 'common/js/superplaceholder.js' %}"></script>
<script src="{% static 'password_generator/js/password_generator.js' %}"></script>