{% load static %}
<link href="{% static 'password_generator/css/password_generator.css' %}" rel="stylesheet"  media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)">
<link href="{% static 'password_generator/css/password_generator.css' %}" rel="stylesheet" media="(prefers-color-scheme: dark)">

<!--
  <link href="https://cdn.jsdelivr.net/gh/vignesh88/cdn/django/tools/password_generator/css/password_generator.css" rel="stylesheet">
-->
<div  class="container-fluid" id="slow_loading">
  
  <div class="container_1">
    <h2 style="color:#6c757d" class="title">Password Generator</h2>
    <div id="password_box" class="password-box password-box-shadow"><span id="password" class="password"
        onclick="copyToClipboard('password','#show_copied')">{{ password }}</span> <span class="regenerate-password"
        onclick="password_generate()"></span> <span class="copy-password" onclick="copyToClipboard('password','#show_copied')"></span> <span
        id="show_copied" class="show-copied">Password copied successfuly!</span></div>
    <div id="lazy_words" class="mb-3"><input id="lazy_words_text" class="form-control" type="text"
        aria-label="Search"><br>
      <p id="lazy_words_suggestion_p" style="display:none;color:#6c757d"><b>Related words: </b><span
          id="lazy_words_suggestion"></span></p>
    </div>
    <div style="color:#6c757d" class="slidecontainer"><input type="range" min="1" max="32" value="12"
        class="slider-length slider-length-shadow" id="myRange">
      <p>Length of Password: <span id="myRange-display"></span></p>
    </div>
    <div id="bootstrap_togglee" style="text-align:center"><label class="switch"><input id="U_case" type="checkbox"
          checked>
        <div class="slider"></div>
        <div class="u_case"></div>
      </label> <label class="switch"><input id="L_case" type="checkbox" checked>
        <div class="slider"></div>
        <div class="l_case"></div>
      </label> <label class="switch"><input id="S_chars" type="checkbox">
        <div class="slider"></div>
        <div class="s_chars"></div>
      </label> <label class="switch"><input id="Num_value" type="checkbox" checked>
        <div class="slider"></div>
        <div class="num_value"></div>
      </label></div>
      <footer>Made with <span class="iconify icon:ion-heart icon-inline:false" style="color: #E81224;"></span> by <a href="https://in.linkedin.com/in/vignesh88?trk=profile-badge-cta">Vikki.</a></footer>
  </div>
  
</div>
<script src="{% static 'common/js/superplaceholder.js' %}"></script>
<script src="{% static 'password_generator/js/password_generator.js' %}"></script>

<!-- 
  <script src="https://cdn.jsdelivr.net/gh/vignesh88/cdn/django/tools/general/js/superplaceholder.js"></script>
<script src="https://cdn.jsdelivr.net/gh/vignesh88/cdn/django/tools/password_generator/js/password_generator.js"></script>
-->